@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sidebar{
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.my-facebook-button-class{
  color: white;

  padding-right:5px ;
  padding-left: 5px;
  width: full;
  display: flex;
  align-items: center;
  justify-content: center;
}